*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@200&family=Open+Sans:wght@300&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #431a8b;
}
#forget-container{
    background-color: white;
    padding: 50px;
border-radius: 5px;
}
.forget-inp{
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;

}
.forget-inp input{
width: 378px;
height: 39px;
border-radius: 3px;
font-size: 17px;
border: 1px solid gray;
padding-left: 16px;
}
.forget-btn{text-align: center;}
.forget-h p{
    text-align:center;
    font-family: 'Lato', sans-serif;

    font-family: 'Montserrat', sans-serif;

    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
font-weight: bold;
letter-spacing: 0.5px;
}
.email-p p{
  text-align: center;
  font-family: 'Lato', sans-serif;

  font-family: 'Montserrat', sans-serif;

  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  margin: 16px 0;

}
.forget-btn button{
    width: 394px;
height: 39px;
background-color: #431a8b;
color: white;
border: #431a8b;
margin-top: 16px;
font-size: 17px;
border-radius: 3px;
cursor: pointer;

}
@media(max-width:535px){
    #forget-container{
        width: 72vw;
        padding: 50px 23px;
    }
    input{
        width: 72vw;
    }
   .forget-btn button{
        width: 72vw;
    }
    .forget-h p{
        font-size: 8vw;
    }
    .email-p p{
        font-size: 4vw;
    }

}
@media(max-width:279px){
    button{
      width: 73vw;
    }
  }
  a{
    color: white;
  }
