* {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@200&family=Open+Sans:wght@300&display=swap');
body {
  background-color: #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.facebook-btn {
  /* display: flex; */
  display: inline-flex;
  background-color: rgb(37, 37, 108);
  border: rgb(37, 37, 108);
  height: 40px;
  width: 281px;
  cursor: pointer;
}
.twitter-btn {
  /* display: flex; */
  display: inline-flex;
  background-color: #328cec;
  border: #328cec;
  height: 40px;
  width: 281px;
  cursor: pointer;
}
.buttons {
  text-align: center;
}
.signupwith {
  text-align: center;
}
.create-account {
  text-align: center;
}
.create-account button {
  width: 557px;
  height: 48px;
  font-size: 15px;
  background-color: #099125;
  color: white;
  border: #099125;
  cursor: pointer;
}
.for{
    display: inline-block;
}
p {
  color: white;
}
i {
  color: white;
}
.creat-accout-p {
  margin: 32px 0;
  font-style: normal;
  font-family: 'Lato', sans-serif;

  font-family: 'Montserrat', sans-serif;

  font-family: 'Open Sans', sans-serif;

}
.f-btn-p{
    margin: auto;
    font-family: 'Lato', sans-serif;

  font-family: 'Montserrat', sans-serif;

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;

}
.t-btn-p{
    margin: auto;
    font-family: 'Lato', sans-serif;

  font-family: 'Montserrat', sans-serif;

  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.signupwith {
  margin: 32px 0;
  font-style: normal;
  font-family: 'Lato', sans-serif;

  font-family: 'Montserrat', sans-serif;

  font-family: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
    color:#3498db;
}
.password-inp{
    width: 542px;
    height: 40px;
    border-radius: 0px;
    padding-left: 15px;
}
.email-inp{
    width: 542px;
    height: 40px;
    border-radius: 0px;
    padding-left: 15px;
    margin: 32px 0;
}
.name-inp{
    width: 260px;
    padding-left: 15px;
    height: 40px;
    border-radius: 0px;
}
.last-name-inp{
    width: 260px;
    padding-left: 15px;
    height: 40px;
    border-radius: 0px;
}
i{
    margin: auto 0;
    position: relative;
left: 25px;
}
input{
    font-size: 14px;
}
#form{
    box-shadow: 0px 2px 10px 3px #1c1c1c;
    padding: 20px;
}
@media(max-width:663px){
    .name-inp placeholder{
        margin-left: 100px;
    }
    #form{
        width: 86vw;
        margin: 0 20px;
    }
    .email-inp{
        /* width: 81vw; */
        width: 75vw;
        margin: ;
        text-align: c;
        margin: 20px auto 20px auto;
        padding: 0 16px;
      }
    
    .password-inp{
        /* width: 81vw; */
        width: 75vw;
        margin: ;
        text-align: c;
        margin: 0 auto;
        padding: 0 16px;
      }
    
    .create-account button{
        width: 81vw;
    }
    .inputs{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .last-name-inp{
    /* width: 81vw; */
    /* margin-top: 32px; */
    width: 75vw;
    margin: ;
    /* text-align: c; */
    margin: 0px auto 0 auto;
    padding: 0 16px;
  
    }
    .name-inp{
        /* width: 81vw; */
        width: 75vw;
        margin: ;
        /* text-align: c; */
        margin: 0 auto;
        padding: 0 16px;
      margin-bottom:20px;
      }
    
    .twitter-btn{
        width: 81vw;
    }
    .facebook-btn{
        width: 81vw;
        margin-bottom: 32px;
    }
    .creat-accout-p{
        /* margin-left: 18px; */
        text-align: center;
    }
}
@media(max-width:498px){
    a{
        display: block;
        text-align: center;
        margin-top: 7px;
    }
}

@media(max-width:365px){
    .create-account button{
        width: 85vw;
    }
}
@media(max-width:478px){
    .create-account button{
        width: 82vw;
    }
}
@media(max-width:323px){
    .creat-accout-p{
      font-size: 4vw;
    }
}
@media(max-width:183px){
    .create-account button{
      font-size: 8vw;
    }
}
@media(max-width:291px){
 .facebook-btn{
     display: block;
    }
    .twitter-btn{
     display: block;

 }
 i{
    position: static;
    margin-bottom: 7px;
 }
}
